@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
  background-color: #333;
}

#ip {
  text-align: center;
  padding: 1em;
  color: #fff;
  font-family: 'Gaegu', cursive;
  font-size: 5em;
}